body{
    height: 100vh;
    position:relative;
}

.bg{
    height: 100vh;
    background: linear-gradient(#00a884 15%, #dfe0dd 15%);
}

.bg-notification{
   background: #8ddafb
}

.left-zone{
    width: 35%;
}

.icon-mine{
    height: 70px;
}

.icon-user img{
    height: 50px;
    border-radius: 20%;
}

.header-icon i{
    color: rgba(128, 128, 128, 0.466);
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.chat{
    height: 80%;
    background-image: url("../img/mine.jpg");
}
 
.header-chat{
    height: 8%;
}

.contact-list{
    cursor: pointer;
}

.chat-wrapper, .chat {
    width: 70%;
}

.chat-footer {
    height: 8%;
    background-color: #c5c2be;
    width: 45.7%;
    bottom: 30px;
}

.chat-footer input {
    height: 80%;
    border: none;
}

.chat-footer i{
    cursor:pointer;
}

.sent-message {
    background-color: #c3e3a9;
}

.received-message {
    background-color: white;
}