<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <title>Boolzapp</title>
  </head>
  <body>
      <main>
          <div class="bg" id="app">
            <div class="container-fluid vh-100 p-3">
                <div class="chat-wrapper container d-flex h-100 p-3">
                <div class="left-zone bg-light overflow-auto">
                <div class="icon-mine p-1 align-items-center d-flex justify-content-between">
        <div class="icon-user d-flex align-content-center">
            <div>
                <img src="img/avatar_3.jpg" class="img-fluid rounded-circle" alt="">
            </div>
            <div class="ps-2 d-flex">
               <span class="my-3">Salvatore</span>
            </div>
        </div>
        <div class="mx-2 header-icon">
            <i class="fa-solid fa-circle-notch"></i></a>
            <i class="fa-solid fa-message"></i></a>
            <i class="fa-solid fa-ellipsis-vertical"></i></a>
        </div>

    </div>
    <div class="bg-notification py-1 px-3 d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fas fa-bell-slash fa-xl"></i>
        </div>
        <div class="px-3 py-2">
            <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
            <p class="m-0 text-decoration-underline text-muted">Attiva notifiche desktop</p>
        </div>
    </div>
    <div class="p-2">
        <div class="input-group-sm d-flex">
            <span class="input-group-text bg-light"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input v-model.trim="search" id="search" name="search" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" >
        </div>
    </div>
    <div>
        <div @click="setChat(contact.id)" v-for="(contact, i) in filteredList" :key="contact.id" class="py-2 px-3 d-flex border-bottom justify-content-between contact-list">
            <div class="d-flex icon-user">
                <img :src="contact.avatar" class="rounded-circle me-2 img-fluid">
                <div class="px-2 ">
                    <h6 class="m-0">{{contact.name}}</h6>
                    <p class="message m-0 text-muted">Ultimo messaggio ricevuto</p>
                </div>
            </div>
            <div>
                <span class="text-muted">{{contacts[currentChat].messages[contacts[currentChat].messages.length-1].date}}</span>
        </div>
        </div>
    </div>    
                </div>
                <div class="chat w-75 h-100 overflow-auto">
                    <div class="header-chat bg-light d-flex justify-content-between p-2 ">
                        <div class="d-flex align-items-center">
                            <div class="d-flex icon-user">
                                <img :src="contacts[currentChat].avatar" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <h6 class="fs-6 m-0">{{contacts[currentChat].name}}</h5>
                                <p class="m-0 text-muted">Ultimo accesso {{contacts[currentChat].messages[contacts[currentChat].messages.length-1].date}}</p>
                            </div>
                        </div>
                        <div class="header-icon d-flex align-items-center">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                            <i class="fa-solid fa-paperclip fa-lg mx-3"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-lg me-3"></i>
                        </div>
                    </div>
                    <div class="d-flex p-4  justify-content-center">
                        <div class="row w-100 g-3 flex-column">
                        <div class="col-5 p-2 rounded-3 d-flex flex-column" v-for="(message, i) in contacts[currentChat].messages" :class="(contacts[currentChat].messages[i].status == 'sent') ? 'sent-message align-self-end' : 'received-message'">
                            <p class="m-0 w-auto">{{message.message}}</p>
                            <span class="text-end text-muted align-self-end">
                                {{message.date}}  
                            </span>
                        </div> 
                </div>
            </div>
            <div class="chat-footer position-absolute d-flex align-items-center py-1">
                <div class="px-4">
                    <i class="fa-regular fa-face-smile fa-xl"></i>
                </div>
                <div class="d-flex align-items-center h-100 w-100">
                    <input @keyup.enter="sendMessage(contacts[currentChat])" v-model.trim="text" id="message" type="text" placeholder="Scrivi un messaggio" class="rounded-3 w-100 px-3">
                </div>
                <div class="px-4">
                    <i v-if="text != ''" class="fa-solid fa-paper-plane" @click="sendMessage(contacts[currentChat])"></i>
                    <i v-else class="fas fa-microphone fa-xl"></i>
                </div>
            </div>
            </div>
          </div>
          </div>
</main>
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>